.detail-card {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background-color: white;
    border: 1px solid #D5DADF;
    margin: 6px;
    position: relative;
    padding-bottom: 85px;
}
.detail-name {
    color: #464646;
    font-size: 20px;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 30px;
}
.small-lottie-loading {
    width: 100px;
    height: 100px;
    margin: auto;
    opacity: .8;
  }
  .detail-body {
      text-align: left;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0px 15px;
  }
  .detail-footer {
      position: absolute;
      bottom: 0px;
      background-color: #F5F5F5;
      height: 85px;
      width: 100%;
      display: flex;
      align-items: center;
  }
  .detail-icon {
    -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.8); /* FF3.5+ */
     -ms-transform: scale(0.8); /* IE9 */
      -o-transform: scale(0.8); /* Opera 10.5+ */
         transform: scale(0.8);
}