.card-content {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-wrapper {
    position: relative;
    background-color: var(--white);
    margin: 6px;
    border: 1px solid var(--border-grey);
    width: calc(100% - 12px);
    min-height: 204px;
    transition: all .5s ease;
}
.card-wrapper.selected {
    border: 2px solid var(--selected-grey);
}
.card-wrapper:hover {
    background-color: var(--border-grey);
}

.item-name {
    color: var(--dark-grey);
}
.item-gender {
    color: var(--label-grey);
}

.gender-icon {
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.5); /* FF3.5+ */
     -ms-transform: scale(0.5); /* IE9 */
      -o-transform: scale(0.5); /* Opera 10.5+ */
         transform: scale(0.5);
}