.filter-btn {
    font-size: 13px;
    border-radius: 30px;
    line-height: 16px;
    padding: 7px 10px;
    box-sizing: border-box;
    margin-right: 15px;
    cursor: pointer;
    transition: all .5s ease;
}
.people-btn {
    background-color: var(--white);
    color: var(--red);
    border: 2px solid var(--red);
}
.species-btn {
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
}
.people-btn.checked {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--red);
}
.species-btn.checked {
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
}
.filters {
    width: 100%;
    text-align: left;
    height: 50px;
    padding: 6px;
}
.check-icon {
    height: 8.62px;
    width: 11.24px;
}
.filter-label {
    font-size: 15px;
    line-height: 18px;
    padding-right: 15px;
    color: var(--label-grey);
}